@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("./home.css");
@import url("./footer.css");
@import url("./header.css");

body {
    margin: 0;
    padding: 0;
    /* font-family: lato; */
}




div,section,main,header,footer,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headerWrap .navbar-nav .nav-link.active, .navbar-nav .nav-link, .headerWrap .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .headerWrap .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{
    color: #000;
}
.headerWrap.bg-body-tertiary{
    background-color: transparent !important;
}
.navbar-brand{
    color: #000 !important;
}



.headerWrap .me-auto{
    margin: auto !important;
    gap: 45px;;
}

.desktop-only {
    opacity: 0;
}
.cursor-pointer{
    cursor: pointer;
}
/* Show the element on screens larger than 1024px */
@media (min-width: 1024px) {
    .desktop-only {
        opacity: 1;
    }
}

@media (max-width: 820px) {
    .headerWrap .me-auto{
        margin: auto !important;
        gap: 0px;
        text-align: center;
    }
}